body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#left {
    position:absolute;
    width: 43%;
    height: 100%;
    left: 0;
	background: #ffc0c9;
}

h1 {
    margin: 20px;
}

#right {
    position:absolute;
    width: 57%;
    height: 100%;
    right: 0;
    background: #abf1fd;
}

#description {
    position: absolute;
    width: 415px;
    height: 120px;
    right: 5px;
    bottom: 20px;
}

#subscribe-form input[type=email] {
    width: 200px;
}


#info {
	position: absolute;
	width: 420px;
	right: 5px;
	bottom: 5px;
	font-size: 10px;
	text-align: right;
}
